<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="reviewFilingFilesSaveFolder" value="C:\SharedData54\LocalReview" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Intranet">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
		<behavior name="azwsdl">
			<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
			<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" externalMetadataLocation="http://lp-drao:5500/azmdes/wsdl/AOC.WebSip.eFiling.wsdl"/>

			<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
			<serviceDebug includeExceptionDetailInFaults="true"/>
		</behavior>

      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="IntranetMtom" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" maxBufferSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxNameTableCharCount="100000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="Intranet" maxReceivedMessageSize="2147483647" messageEncoding="Text" maxBufferSize="2147483647" maxBufferPoolSize="524288" >
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxNameTableCharCount="100000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <services>

      <service name="Arizona.Courts.Services.v20.CourtRecordMDE" behaviorConfiguration="azwsdl" >
        <!-- Service Endpoints -->
        <endpoint
          binding="basicHttpBinding"
          bindingNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0"
          contract="Arizona.Courts.Services.v20.ICourtRecordMDE"
          name="CourtRecordMDEPortSOAPBinding"
          bindingConfiguration="Intranet">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="Arizona.Courts.Services.v20.FilingReviewMDE" behaviorConfiguration="azwsdl" >
        <!-- Service Endpoints -->
        <endpoint
          binding="basicHttpBinding"
          bindingNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0"
          contract="Oasis.LegalXml.CourtFiling.v40.WebServiceMessagingProfile.IFilingReviewMDE"
          name="FilingReviewMDEPortSOAPBinding"
          bindingConfiguration="IntranetMtom">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <!-- Maricopa Mock -->
      <service name="Arizona.Courts.Services.v20.MCCourtRecordMDE" behaviorConfiguration="Intranet" >
        <!-- Service Endpoints -->
        <endpoint
          binding="basicHttpBinding"
          bindingNamespace="http://www.clerkofcourt.maricopa.gov"
          contract="Arizona.Courts.Services.v20.IMCCourtRecordMDE"
          name="CourtRecordMDEPortSOAPBinding"
          bindingConfiguration="Intranet">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>



    </services>    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
